[Unit]
Description=GCSFuse Proxy Service

[Service]
ExecStart=/usr/bin/gcsfuse-proxy --v=5 --gcsfuse-proxy-endpoint=unix:/var/lib/kubelet/plugins/cloudstorage.csi.storage.gke.io/gcsfuse-proxy.sock --auth-server-endpoint=unix:/var/lib/kubelet/plugins/cloudstorage.csi.storage.gke.io/gcsfuse-auth-server.sock
Delegate=yes
KillMode=process
Restart=always
OOMScoreAdjust=-999
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target